<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1 style="text-align: center">Update Customer</h1>
<form action="/add" method="post" th:object="${customer}">
  <input type="hidden" th:field="*{id}">
  <p>Customer Type ID :</p><input type="text" th:field="*{customerTypeId}">
  <br>
  <p>Name :</p><input type="text" th:field="*{name}">
  <br>
  <p>Date Of Birth :</p><input type="text" th:field="*{dateOfBirth}">
  <br>
  <p>Gender :</p><input type="text" th:field="*{gender}">
  <br>
  <p>ID Card :</p><input type="text" th:field="*{idCard}">
  <br>
  <p>Phone Number :</p><input type="text" th:field="*{phoneNUmber}">
  <br>
  <p>Email :</p><input type="text" th:field="*{email}">
  <br>
  <p>Addess :</p><input type="text" th:field="*{address}">
  <br>
  <button type="submit">Save</button>
</form>
</body>
</html>