<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Your Result: </h1>
<br>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Describe</th>
  </tr>
  <tr th:each="product : ${productName}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.brand}"></td>
    <td th:text="${product.describe}"></td>
  </tr>
</table>
</body>
</html>