<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<h1 style="color: black;text-align: center" >List Facility</h1>
<a th:href="@{facility/showForm}">Add New Facility</a>
<table  class="table caption-top">
  <tr style="color: red">
    <th>#</th>
    <th>Name</th>
    <th>Area</th>
    <th>Cost</th>
    <th>Max People</th>
    <th>Standard Room</th>
    <th>Description Other Convenience</th>
    <th>Pool Area </th>
    <th>Number Floor</th>
    <th>Facility Free</th>
    <th>Facility Type</th>
    <th>Rent Type</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
  <tr th:each="facility : ${list3}">
    <td th:text="${facility.id}"></td>
    <td th:text="${facility.name}"></td>
    <td th:text="${facility.area}"></td>
    <td th:text="${facility.cost}"></td>
    <td th:text="${facility.maxPeople}"></td>
    <td th:text="${facility.standardRoom}"></td>
    <td th:text="${facility.descriptionOtherConvience}"></td>
    <td th:text="${facility.poolArea}"></td>
    <td th:text="${facility.numberOfFloor}"></td>
    <td th:text="${facility.facilityFree}"></td>
    <td th:text="${facility.facilityType.name}"></td>
    <td th:text="${facility.rentType.name}"></td>
    <td><a th:href="@{facility/delete/{id}(id=${facility.id})}">Delete</a></td>
    <td><a th:href="@{facility/showFormEdit/{id}(id=${facility.id})}">Edit</a></td>
  </tr>
</table>
<!--<center>-->
<!--  <div>-->
<!--    <a th:href="@{/facility(page=${list.number - 1})}" th:if="${list.hasPrevious()}">Trước</a>-->
<!--    <span th:text="${list.number +1}"></span>/<span th:text="${list.totalPages}"></span>-->
<!--    <a th:href="@{/facility(page=${list.number + 1})}" th:if="${list.hasNext()}">Sau</a>-->
<!--  </div>-->
<!--</center>-->
</body>
</html>