<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<h1 style="text-align: center">Create New Customer</h1>
<form style="text-align: center" action="/customer/add" method="post" th:object="${customerDto}">
    <div class="input-group flex-nowrap">
        <span class="input-group-text">Customer Name</span>
        <input type="text" class="form-control" th:field="*{name}">
    </div>
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <br>
    <div class="input-group flex-nowrap">
        <select th:field="*{customerType.id}">
            <option th:value="1">1:Khách Thường</option>
            <option th:value="2">1:Khách Vip</option>
        </select>
    </div>
    <br>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">Date Of Birth</span>
        <input type="text" class="form-control" th:field="*{dateOfBirth}">
    </div>
    <p style="color: red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></p>
    <br>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">Gender</span>
        <input type="text" class="form-control" placeholder="1:Nam // 0:Nữ" th:field="*{gender}">
    </div>
    <p style="color: red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
    <br>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">ID Card</span>
        <input type="text" class="form-control" th:field="*{idCard}">
    </div>
    <p style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>
    <br>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">Phone Number</span>
        <input type="text" class="form-control" th:field="*{phoneNUmber}">
    </div>
    <p style="color: red" th:if="${#fields.hasErrors('phoneNUmber')}" th:errors="*{phoneNUmber}"></p>
    <br>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">Email</span>
        <input type="text" class="form-control" th:field="*{email}">
    </div>
    <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <br>
    <div class="input-group flex-nowrap">
        <span class="input-group-text">Address</span>
        <input type="text" class="form-control" th:field="*{address}">
    </div>
    <p style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
    <br>
    <button type="submit" class="btn btn-outline-success">Save Customer</button>
</form>
</body>
</html>